<!DOCTYPE html>
<html lang="ro">
<head>
  <%- include('../partial/head') %>
</head>

<body>
  <header>
    <h1>Produse</h1>
  </header>
  <%- include('../partial/nav') %>
<main>
  <section id="produse">
      <h2>Produse</h2>
      <div class="grid-produse">
          <% for( let prod of locals.produse) { %>
              <article class="produs">
                  <h3 class="nume">Nume: <a href="/produs/<%-prod.id %>" ><span class="val-nume"><%- prod.nume%></span></a></h3>
                  <div class="info-prod">
                      <p class="pret">Pret: <span class="val-pret"><%- prod.pret%></span></p>
                  </div>
                  <p class="categorie">Categorie: <span class="val-categorie"><%- prod.tip_produs%></span></p>
                  <figure>
                      <a href="/produs/<%-prod.id %>" ><img src="/public/imagini/baza de date/<%- prod.imagine %>" style="width:50%;height:auto;" alt="[imagine <%- prod.nume %>]" /></a>
                  </figure>
              </article>
          <% }%>
      </div>
  </section>
</main>
<footer>
  <%- include('../partial/footer') %>
</footer>
</body>
